/* From Uiverse.io by Navarog21 (scoped to .uiverse-btn) */
.uiverse-btn {
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #149CEA;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.uiverse-btn::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #212121;
  transition: 0.5s;
  transform-origin: center;
}

.uiverse-btn::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background-color: #212121;
  transition: 0.5s;
}

.uiverse-btn:hover::before,
.uiverse-btn:hover::after {
  transform: scale(0);
}

.uiverse-btn:hover {
  box-shadow: inset 0px 0px 25px #1479EA;
}